{
  "presets": [
    [
      "next/babel", 
        {
          "transform-runtime": {},
          "styled-jsx": {},
          "class-properties": {}
        }
      ]
    ],
      "plugins": [["styled-components", { "ssr": true }]]
}