body {
  &:before {
    content: "";
    background-color: rgba(19, 13, 13, 0.8);
    // background: url('../assets/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    will-change: transform; // creates a new paint layer
    z-index: -3;
  }
}
